body {
  background: #f1f3f4;
}

.comment-form {
  // display: none;
  background-color: #fff;
  border-color: #e0e0e0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 15px;
  width: 500px;
}

.box {
  margin: 15px;
  padding: 15px;
  border: 5px solid black;
  position: relative;

  .name {
    font-weight: bold;
  }
  .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    padding: 8px;
    color: white;
  }
}
