.box {
  margin: 15px;
  padding: 15px;
  border: 5px solid black;
  position: relative;
}
.box .name {
  font-weight: bold;
}
.box .close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  font-weight: bold;
  background-color: black;
  padding: 8px;
  color: white;
}
